<div class="container movistar_footer_container">
  <div class="row movistar_nav_footer_bar flex_vertical_center ">
    <div class="col-1">
      <img class="movistar_footer_icon" src="https://static.movistar.com.ve/MM/footer/footerAccesoDirectoFacebook.png">
    </div>
    <div class="col-1">
      <img class="movistar_footer_icon" src="https://static.movistar.com.ve/MM/footer/footerAccesoDirectoTwitter.png">
    </div>
    <div class="col-1">
      <img class="movistar_footer_icon" src="https://static.movistar.com.ve/MM/footer/footerAccesoDirectoContacto.png">
    </div>
    <div class="col-1">
      <img class="movistar_footer_icon" src="https://static.movistar.com.ve/MM/footer/footerAccesoDirectoAyuda.png">
    </div>
    <div class="col-8 d-flex justify-content-end">
      <img src="https://static.movistar.com.ve/MM/footer/footerLogoTelefonica.png">
    </div>
    <!--    <div class="col-4 movistar_nav_button_text cursor-d">
          <span>Mi línea {{ ' ' + user.phone }}</span>
        </div>
        <div class="col-8 d-flex justify-content-end">
          <div class="movistar_nav_bar_search_input flex_vertical_center">
            <input class="movistar_nav_bar_search_input_internal" placeholder="busca en Mi Movistar">
            <img class="movistar_img_lupa" src="https://mi.movistar.com.ve/images/lupa_Spotlight.jpg">
          </div>
        </div>-->
  </div>
  <div class="row flex_vertical_center  movistar_nav_footer_bar_text">
    <div class="col-8 d-flex justify-content-start">
      <span class="movistar_footer_text">
       Aviso legal| Mapa web| Contáctanos| Telefónica en Venezuela| Telefónica en el mundo
      </span>
    </div>
    <div class="col-4 d-flex justify-content-end">
      <span class="movistar_footer_text">
        © Telefónica Venezuela, C.A. | RIF: J-00343994-0
      </span>
    </div>
    <!--    <div class="col-4 movistar_nav_button_text cursor-d">
          <span>Mi línea {{ ' ' + user.phone }}</span>
        </div>
        <div class="col-8 d-flex justify-content-end">
          <div class="movistar_nav_bar_search_input flex_vertical_center">
            <input class="movistar_nav_bar_search_input_internal" placeholder="busca en Mi Movistar">
            <img class="movistar_img_lupa" src="https://mi.movistar.com.ve/images/lupa_Spotlight.jpg">
          </div>
        </div>-->
  </div>
  <!--  <div class="row">

    </div>-->
</div>
