<div class="movistar_information_header_container">
  <p class="movistar_information_header_text">
    IMPORTANTE:
    <br>
    Para utilizar esta operación y actualizar tus datos te sugerimos:
  </p>
  <p class="movistar_information_header_text pl_4pp">
    Contactarnos a través de nuestra página web
    <a class="movistar_information_a_text" href="*">www.movistar.com.ve</a>
    opción Chat en línea y un ejecutivo de atención digital canalizará tu requerimiento.
    <br>
    Dirigirte a un <a class="movistar_information_a_text" href="*">Centro de Servicio Movistar</a> o a nuestra red de <a
    class="movistar_information_a_text" href="*">Agentes Autorizados</a>
    más cercano a tu localidad y actualizar tus datos de información básica.</p>

</div>
