.movistar_modal_container {
  border-radius: 0%;
}


.movistar_logo_module_img {
  height: 37px;
  width: 220px;
}

.movistar_logo_container {
  background-image: url("https://mi.movistar.com.ve/actualizaciondedatos/web/img/BackgroundTitle.png");
  margin: 10px 0;
  height: 54px;
}

.movistar_body_container {
  padding: 0 19px;
  background: #ffffff;
}

.movistar_description_container {
  margin: 5px 0 0 0 !important;
  height: 79px;
  padding: 10px 15px;
  background: #ededed;
  border: 1px;
  border-color: #c2c2c4;
  border-top-style: solid;
  border-right-style: solid;
  border-bottom-style: solid;
  border-left-style: solid;
}

.movistar_description_text {
  font-family: telefonicaSansRegular;
  font-size: 16px;
  color: rgba(150, 150, 150, 150);
}

.movistar_form_title_content {
  margin: 15px 0;
}

.movistar_form_title_text {
  font-family: TelefonicaHand;
  font-size: 23px;
  color: #666666;
}

.movistar_form_label_text {
  color: #666666;
  font-family: TelefonicaBold;
  font-size: 16px;
}

.movistar_form_info_text {
  color: #666666;
  font-family: TelefonicaRegular;
  font-size: 16px;
  padding-left: 4px;
  text-transform: capitalize;

}

.movistar_form_separator {
  margin-top: 16px;
  margin-bottom: 16px;
}

.movistar_form_separator_container {
  padding: 0 60px;
}

.movistar_form_container {
  margin-left: 40px;
  margin-right: 20px;
}

.movistar_form_button_home {
  border: none;
}

.movistar_form_separator_doble_container {
  padding: 0 20%;
}

.movistar_modal_structure {
  min-width: 890px;
}

.movistar_modal_body {
  padding: 0 7%;
}

.movistar_form_message_content {
  padding-top: 10px;
}

.movistar_form_message_text {
  color: #666666;
  font-family: TelefonicaRegular;
  font-size: 12px;
  text-transform: capitalize;
}

.movistar_form_input {
  border-radius: 0%;
  background-color: #F1F1F0;
}


.movistar_form_select_phone_code {
  border-radius: 0%;
  background-color: #F1F1F0;
  margin-right: 20px;
  width: 35% !important;
  flex: none;
}

.movistar_modal_button_container {
  margin: 30px 0;
}

.movistar_modal_button {
  border-radius: 0%;
  font-family: TelefonicaRegular;
  font-size: 16px;
  min-width: 100px;

}

.movistar_form_button_home {
  border: none;
}
